<div class='text-center pt-5'>
  <div class='try'>
    <h1 class='fw-bold'><%= t('.title') %></h1><br>
  </div>
  <div class='mochiy'>
    <p><%= t('.text') %></p>
  </div>
  <div class='mochiy2'>
    <p><%= t('.test') %></p>
  </div>

  <%= link_to t('.vues'), vues_path, class: "btn btn-outline-primary" %>